html {
  font-size: 62.5%;
}

#comments{
    background-color: lightgray;
    text-align: center;
    text-decoration-color: black;
    width: 80%;
    right: 50%;
    border: .2rem solid black;
}

#contain{
    display: flex;
    justify-content: center;
    align-items: center;
}

#top{
    text-align: center;
}

#options{
    bottom: 1rem;
    padding: 1rem;
    position: fixed;
    text-align: center;
    background-color: black;
    width:100%;
    color: white;
}