#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#starwars-quote{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
    color: blue;
}

#header{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 100px;
}

#emoji{
    width: 100px;
    height: 100px;
}